.section {
  padding: 96px 0px;
}

.section-sm {
  padding: 32px;
}

.container {
  max-width: 760px;
  margin: auto;
  padding: 0 1.5rem;
}

.container-lg {
  max-width: 1024px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  margin: auto;
}
