.custom-card-container {
  min-width: 24rem;
  max-width: 36rem;
  /* height: 34rem; */
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--blue);
  position: relative;
}

.custom-card-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.custom-card-discount {
  width: fit-content;
  padding: 0.8rem 1.6rem 1.8rem 0.8rem;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: var(--primary-500);
  color: white;
  border-radius: 0.8rem 0.4rem 100% 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-card-img-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.custom-card-img {
  height: 20rem;
  object-fit: cover;
}

.custom-card-price-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.custom-card-discounted-price {
  font-weight: 600;
  color: var(--primary-500);
}
.custom-card-crossed-out-price {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--secondary-100);
  text-decoration: line-through;
}
.custom-card-price {
  font-weight: 600;
}

.custom-card-name {
  font-size: 1.5rem;
}
