.main-container {
  max-width: calc(121rem + 2 * 6rem);
  padding: 4rem;
  margin: 0 auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 3rem;
}

.cards-container > div {
  width: 100%;
  justify-self: center;
}
